<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= raw t ".link_1", url_1: link_to(t(".title_link1"), "http://www.railstutorial.org/help") %>
  <%= raw t ".link_2", url_2: link_to(t(".title_link2"), "http://www.railstutorial.org/book") %>
</p>
